<p style="font-size: 2em; margin: 1em 0">Purchases Page</p>
<div class="row" class="repeat-animation">
	<div ng-repeat="busService in busServices">
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<div class="well card-element" style="width:90%; height: 75px; margin:0 0 1em 0; padding:0">
				<input type="checkbox" id="product-input-{{busService.key}}" ng-click="updateTotals(busService.key)" ng-checked=busService.selected style="margin-left: 3px; top: 1px; float:left;">

				<img src="img/services.png" style="margin-left: -15px; top: -10px; float:left; margin-right: 1em; width: 75px; height: 75px;">
				<div style="display: block;-webkit-margin-before: 0em;-webkit-margin-after: 0em;">
					<a ng-href="/products/{{busService.key}}">
						<p style="-webkit-margin-before: 0em;-webkit-margin-after: 0em;">{{ busService.name }}</p>
					</a>
					<p style="-webkit-margin-before: 0em;-webkit-margin-after: 0em;">{{ busService.price.toFixed(2) | currency:"$" }}</p>
				</div> <!-- ends divtext block -->
			</div> <!-- ends well -->
		</div> <!-- ends column -->
	</div> <!-- ends ng-repeat -->
</div> <!-- end product row -->

<div class="row" style="width: 70%; margin: 1em auto 0;">
	<div class="col-lg-6">
		<p style="float:left;font-size:2em;">Total: <span id="purchase-product-total" ng-init="updateTotalsOnLoad()"></span>{{ productTotal.toFixed(2) | currency:"$" }}</p>
	</div>
	<div class="col-lg-6">
		<a style="float:right;" href="#/confirm"><button style="font-size: 1.3em;">Confirm Purchase</button></a>
	</div>
</div> <!-- ends totals row -->