<header>
	<div class="container-fluid">
		<div>
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="Brand" src="img/ACME-Corp-LOGO.png" style="margin-top: -50px;width: 200px; height: 150px;">
				</a>
			</div>
			<nav>		
				<ul class="nav navbar-nav nav-text">
			        <li class="active"><a href="#/">Home</a></li>
					<li><a href="#/services">Services</a></li>
					<li><a href="#/subscriptions">Subscription</a></li>
				</ul>
			</nav>
		</div>		
		<hr style="clear:both; display: relative; border-color: black; width:80%; margin: 9em auto 0;">	
</header>